
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Roboto&display=swap');
/*  Reset CSS  */
* { margin:0;  padding:0;}
ol,ul,li { list-style: none; }
a { text-decoration:none; color:#000; }
img { border:0;}
section{width: 1900px; height:800px; overflow:hidden;}
body {font-family: 'Roboto', sans-serif;}
#wrapper {margin:0 auto; width:1900px;}

/*section1*/
#section1 {
    background:#2e2674; 
    overflow:hidden;
    position:relative;
    }
#section1>img{
    width:700px; 
    position:relative;
    left:-100px;
    bottom:-300px;
    }
#section1 .title {
    color:#fff;
    font-family: 'Black Han Sans', sans-serif;
    font-size:70px;
    position:absolute; 
    right:70px; 
    bottom:60px;
    letter-spacing:8px;
    text-align:right;
}
#section1>p:nth-of-type(1) {
    margin-bottom:120px;
    border-bottom:2px solid #fff;
    width:560px;
}
  
.title_left {
    color:#fff;
    position:absolute;
    top:60px; 
    left:60px; 
    font-size:13px;
}
.title_left>p {letter-spacing:8px;padding:5px;}
.title_left>p:nth-of-type(1) {
    font-size:15px; 
    font-weight:bold;
    margin-bottom:10px;
    
}
.title_left>p:nth-of-type(4),
.title_left>p:nth-of-type(6) {margin-top:10px;}

.title_left>p:nth-of-type(3), 
.title_left>p:nth-of-type(5) { 
    border-bottom:1px solid #fff;
    padding-bottom:10px;
}

.bold {
    font-weight:bold; 
    width:240px;
}
.top {width:0%; height:3px; background:#fff; position:absolute; top:0px; left:0px;}
.bottom {width:0%; height:3px; background:#fff; position:absolute; bottom:0px; right:0px;}
.right {width:3px; height:0%; background:#fff; position:absolute; top:0px; right:0px; }
.left {width:3px; height:0%; background:#fff;  bottom:855px; right:0px;}
#section1 .big_box {width:1825px; height:720px; position:absolute; left:35px; top:35px;}





/*section2*/
#section2 {background:#f4f4f4; overflow:hidden;}
#section2 img:nth-of-type(1) {
    width:130px;  
    position:absolute;
    padding:30px;
} 
#section2 img:nth-of-type(2) { 
    position:relative;
    left:30px; 
    top:210px; 
}
#section2>img:nth-of-type(3) {
    position:relative; 
    left:550px;
    top:250px;
}
#section2>img:nth-of-type(4) {
    position:relative;
    left:-150px; 
    top:160px;
}
#section2>img:nth-of-type(5) {
    position:relative;
    left:-770px; 
    top:145px;
    opacity:0.5;
}
#section2>img:nth-of-type(6) {
    position:relative;
    left:1200px; 
    bottom:-20px;
}

/*section2 skill
.SKILL {width:1200px;position:relative; left:0px; top:500px; outline:1px solid red;}
.skill {width:120px; height:40px; border:1px solid #2e2674; color:#2e2674; text-align:center; line-height:40px; letter-spacing:8px; position:relative; left:570px; top:0px; font-family: 'Black Han Sans', sans-serif;}
#section2 ul {float:left;width:300px; position:relative; left:570px; top:-500px; margin-bottom:50px; margin-right:50px;background:#2e2674;}
#section2 ul li {color:#2e2674; letter-spacing:10px; }
#section2 ul li:nth-child(1) {position:relative; top:-30px;}
#section2 ul li:nth-child(2) {width:0; height:20px;position:absolute; top:0; background:#ffc442;}*/

.move_text {
    color:#2e2674;
    font-family: 'Black Han Sans', sans-serif;
    font-size:17px;
    position:relative;
    left:0;
    bottom:-280px;
    letter-spacing:2px;
}


/*section3*/
#section3 {background:#2e2674; position:relative; }
#section3>p:nth-child(1) {
    position:relative; 
    left:520px; 
    top:90px;
    font-size:22px;
    font-family: 'Black Han Sans', sans-serif; 
    color:#fff; 
    letter-spacing:2px;
}
#section3>div:nth-child(2) {
    position:relative; 
    left:0; 
    top:100px; 
    width:40%; 
    height:2px; 
    background:#fff;
}

.sec3_left {
    position:absolute; 
    left:100px; 
    top:230px;
}
.sec3_left li{
    width:100px;
    height:35px;
    border:1px solid #fff;
    color:#fff; 
    text-align:center; 
    line-height:35px;
    letter-spacing:5px;
    font-size:15px;
    font-weight:bold;
}
.sec3_left li:nth-child(1) {margin-bottom:70px;}
.sec3_left li:nth-child(2) {margin-bottom:50px;}
.sec3_left li:nth-child(3) {margin-bottom:150px;}

.sec3_right {
    position:absolute; 
    left:280px; 
    top:200px;
}
.sec3_right li {
    color:#fff; 
    line-height:40px; 
    letter-spacing:2px;
}
.sec3_right li:nth-child(1) {
    font-size:55px; 
    font-family: 'Roboto', sans-serif;
    margin-bottom:0px;
    padding-top:15px;
}
.sec3_right li:nth-child(2) {
    font-size:50px;
    font-family: 'Roboto', sans-serif; 
    font-style:italic;
    position:absolute; 
    left:130px; 
    top:15px; 
}
.sec3_right li:nth-child(1) span {
    font-size:12px;
    display:block;
    line-height:15px;
    margin-top:10px;
    font-weight:bold;
}
.sec3_right li:nth-child(2) span {
    font-size:12px; 
    display:block; 
    line-height:15px;
    margin-top:10px;
    font-weight:bold;
}
.sec3_right li:nth-child(3) {
    letter-spacing:4px; 
    font-size:14px;
    margin-top:25px;
    font-weight:bold;
}
.sec3_right li:nth-child(4) {
    margin-top:20px; 
    letter-spacing:2px; 
    font-size:14px;
    line-height:30px;
    font-weight:bold;
}
.sec3_right li:nth-child(5) {
    width:45px; 
    height:45px;
    background:#67a067; 
    border-radius:50%;
    position:relative;
    top:35px;
}
.sec3_right li:nth-child(6) {
    width:45px;
    height:45px;
    background:#756659; 
    border-radius:50%;
    position:relative;
    top:-10px; 
    left:80px;
}
#section3 img:nth-child(5) {
    position:absolute; 
    right:0px;
    bottom:50px;
    z-index:200;
    width:1020px;
}
.mac_box {
    position:absolute; 
    right:235px; 
    top:290px; 
    width:510px;
    height:400px; 
    overflow:hidden;
}
.mac_box>img {
    position:absolute; 
    right:0px;
    top:0px;
    width:510px;
}
#section3 a:nth-child(6) {
    width:280px;
    height:50px; 
    border:1px solid #fff; 
    color:#fff; 
    text-align:center;
    line-height:50px; 
    letter-spacing:5px;
    position:absolute;
    right:350px;
    top:170px; 
    display:block;
    z-index:300;
    font-size:16px;
    font-family: 'Black Han Sans', sans-serif; 
}



/*section4*/
#section4 {background:#e6e6e6; position:relative; }
#section4>p:nth-child(1) {
    position:relative; 
    left:540px; 
    top:90px;
    font-size:22px;
    font-family: 'Black Han Sans', sans-serif; 
    color:#2e2674; 
    letter-spacing:2px;
}
#section4>div:nth-child(2) {
    position:relative; 
    left:0; 
    top:100px; 
    width:40%; 
    height:2px; 
    background:#2e2674;
}

.sec4_left {
    position:absolute; 
    left:100px; 
    top:230px;
}
.sec4_left li{
    width:100px;
    height:35px;
    border:1px solid #2e2674;
    color:#2e2674; 
    text-align:center; 
    line-height:35px;
    letter-spacing:5px;
    font-size:15px;
    font-weight:bold;
}
.sec4_left li:nth-child(1) {margin-bottom:70px;}
.sec4_left li:nth-child(2) {margin-bottom:50px;}
.sec4_left li:nth-child(3) {margin-bottom:120px;}

.sec4_right {
    position:absolute; 
    left:280px; 
    top:200px;
}
.sec4_right li {
    color:#2e2674; 
    line-height:40px; 
    letter-spacing:2px;
}
.sec4_right li:nth-child(1) {
    font-size:55px; 
    font-family: 'Nanum Gothic Coding', monospace;
    margin-bottom:0px;
    padding-top:15px;
}
.sec4_right li:nth-child(2) {
    font-size:50px;
    font-family: 'Nanum Myeongjo', serif;
    position:absolute; 
    left:130px; 
    top:15px; 
}
.sec4_right li:nth-child(1) span {
    font-size:12px;
    display:block;
    line-height:15px;
    margin-top:10px;
    font-weight:bold;
}
.sec4_right li:nth-child(2) span {
    font-size:12px; 
    display:block; 
    line-height:15px;
    margin-top:10px;
    font-weight:bold;
}
.sec4_right li:nth-child(3) {
    letter-spacing:4px; 
    font-size:14px;
    margin-top:25px;
    font-weight:bold;
}
.sec4_right li:nth-child(4) {
    margin-top:20px; 
    letter-spacing:2px; 
    font-size:14px;
    line-height:30px;
    font-weight:bold;
}
.sec4_right li:nth-child(5) {
    width:45px; 
    height:45px;
    background:#f7f7f7; 
    border-radius:50%;
    position:relative;
    top:35px;
}
.sec4_right li:nth-child(6) {
    width:45px;
    height:45px;
    background:#9bcfdd; 
    border-radius:50%;
    position:relative;
    top:-10px; 
    left:80px;
}
#section4 img:nth-child(5) {
    position:absolute; 
    right:0px;
    bottom:50px;
    z-index:200;
    width:1020px;
}
.mac_box {
    position:absolute; 
    right:235px; 
    top:290px; 
    width:510px;
    height:400px; 
    overflow:hidden;
}
.mac_box>img {
    position:absolute; 
    right:0px;
    top:0px;
    width:510px;
}
#section4 a:nth-child(7) {
    width:280px;
    height:50px; 
    border:1px solid #2e2674; 
    color:#2e2674; 
    text-align:center;
    line-height:50px; 
    letter-spacing:5px;
    position:absolute;
    right:350px;
    top:170px; 
    display:block;
    z-index:300;
    font-size:16px;
    font-family: 'Black Han Sans', sans-serif; 
}


/*section5*/
#section5 {background:#2e2674; position:relative; }
#section5>p:nth-child(1) {
    position:relative; 
    left:500px; 
    top:90px;
    font-size:22px;
    font-family: 'Black Han Sans', sans-serif; 
    color:#fff; 
    letter-spacing:2px;
}
#section5>div:nth-child(2) {
    position:relative; 
    left:0; 
    top:100px; 
    width:40%; 
    height:2px; 
    background:#fff;
}

.sec5_left {
    position:absolute; 
    left:100px; 
    top:230px;
}
.sec5_left li{
    width:100px;
    height:35px;
    border:1px solid #fff;
    color:#fff; 
    text-align:center; 
    line-height:35px;
    letter-spacing:5px;
    font-size:15px;
    font-weight:bold;
}
.sec5_left li:nth-child(1) {margin-bottom:70px;}
.sec5_left li:nth-child(2) {margin-bottom:50px;}
.sec5_left li:nth-child(3) {margin-bottom:150px;}

.sec5_right {
    position:absolute; 
    left:280px; 
    top:200px;
}
.sec5_right li {
    color:#fff; 
    line-height:40px; 
    letter-spacing:2px;
}
.sec5_right li:nth-child(1) {
    font-size:55px; 
    font-family: 'Roboto', sans-serif;
    margin-bottom:0px;
    padding-top:15px;
}
.sec5_right li:nth-child(2) {
    font-size:50px;
    font-family: 'Roboto', sans-serif; 
    font-style:italic;
    position:absolute; 
    left:130px; 
    top:15px; 
}
.sec5_right li:nth-child(1) span {
    font-size:12px;
    display:block;
    line-height:15px;
    margin-top:10px;
    font-weight:bold;
}
.sec5_right li:nth-child(2) span {
    font-size:12px; 
    display:block; 
    line-height:15px;
    margin-top:10px;
    font-weight:bold;
}
.sec5_right li:nth-child(3) {
    letter-spacing:4px; 
    font-size:14px;
    margin-top:25px;
    font-weight:bold;
}
.sec5_right li:nth-child(4) {
    margin-top:20px; 
    letter-spacing:2px; 
    font-size:14px;
    line-height:30px;
    font-weight:bold;
}
.sec5_right li:nth-child(5) {
    width:45px; 
    height:45px;
    background:#cf4948; 
    border-radius:50%;
    position:relative;
    top:35px;
}
.sec5_right li:nth-child(6) {
    width:45px;
    height:45px;
    background:#000; 
    border-radius:50%;
    position:relative;
    top:-10px; 
    left:80px;
}
#section5 img:nth-child(5) {
    position:absolute; 
    right:0px;
    bottom:50px;
    z-index:200;
    width:1020px;
}
.mac_box {
    position:absolute; 
    right:235px; 
    top:290px; 
    width:510px;
    height:400px; 
    overflow:hidden;
}
.mac_box>img {
    position:absolute; 
    right:0px;
    top:0px;
    width:510px;
}
#section5 a:nth-child(6) {
    width:290px;
    height:50px; 
    border:1px solid #fff; 
    color:#fff; 
    text-align:center;
    line-height:50px; 
    letter-spacing:5px;
    position:absolute;
    right:350px;
    top:170px; 
    display:block;
    z-index:300;
    font-size:16px;
    font-family: 'Black Han Sans', sans-serif; 
}



/*section6*/
#section6 {background:#e6e6e6; position:relative; }
#section6>p:nth-child(1) {
    position:relative; 
    left:545px; 
    top:90px;
    font-size:22px;
    font-family: 'Black Han Sans', sans-serif; 
    color:#2e2674; 
    letter-spacing:2px;
}
#section6>div:nth-child(2) {
    position:relative; 
    left:0; 
    top:100px; 
    width:40%; 
    height:2px; 
    background:#2e2674;
}

.sec6_left {
    position:absolute; 
    left:100px; 
    top:230px;
}
.sec6_left li{
    width:100px;
    height:35px;
    border:1px solid #2e2674;
    color:#2e2674; 
    text-align:center; 
    line-height:35px;
    letter-spacing:5px;
    font-size:15px;
    font-weight:bold;
}
.sec6_left li:nth-child(1) {margin-bottom:70px;}
.sec6_left li:nth-child(2) {margin-bottom:50px;}
.sec6_left li:nth-child(3) {margin-bottom:180px;}

.sec6_right {
    position:absolute; 
    left:280px; 
    top:200px;
}
.sec6_right li {
    color:#2e2674; 
    line-height:40px; 
    letter-spacing:2px;
}
.sec6_right li:nth-child(1) {
    font-size:55px; 
    font-family: 'Nanum Gothic Coding', monospace;
    margin-bottom:0px;
    padding-top:15px;
}
.sec6_right li:nth-child(2) {
    font-size:50px;
    font-family: 'Nanum Myeongjo', serif;
    position:absolute; 
    left:130px; 
    top:15px; 
}
.sec6_right li:nth-child(1) span {
    font-size:12px;
    display:block;
    line-height:15px;
    margin-top:10px;
    font-weight:bold;
}
.sec6_right li:nth-child(2) span {
    font-size:12px; 
    display:block; 
    line-height:15px;
    margin-top:10px;
    font-weight:bold;
}
.sec6_right li:nth-child(3) {
    letter-spacing:4px; 
    font-size:14px;
    margin-top:25px;
    font-weight:bold;
}
.sec6_right li:nth-child(4) {
    margin-top:20px; 
    letter-spacing:2px; 
    font-size:14px;
    line-height:30px;
    font-weight:bold;
}
.sec6_right li:nth-child(5) {
    width:45px; 
    height:45px;
    background:#f0b2fd; 
    border-radius:50%;
    position:relative;
    top:35px;
}
.sec6_right li:nth-child(6) {
    width:45px;
    height:45px;
    background:#1e4087; 
    border-radius:50%;
    position:relative;
    top:-10px; 
    left:80px;
}
#section6 img:nth-child(5) {
    position:absolute; 
    right:0px;
    bottom:50px;
    z-index:200;
    width:1020px;
}
.mac_box {
    position:absolute; 
    right:235px; 
    top:290px; 
    width:510px;
    height:400px; 
    overflow:hidden;
}
.mac_box>img {
    position:absolute; 
    right:0px;
    top:0px;
    width:510px;
}
#section6 a:nth-child(7) {
    width:280px;
    height:50px; 
    border:1px solid #2e2674; 
    color:#2e2674; 
    text-align:center;
    line-height:50px; 
    letter-spacing:5px;
    position:absolute;
    right:350px;
    top:170px; 
    display:block;
    z-index:300;
    font-size:16px;
    font-family: 'Black Han Sans', sans-serif; 
}



/*section9*/
#section9 {background:#2e2674; position:relative; }
#section9>p:nth-child(1) {
    position:relative; 
    left:500px; 
    top:90px;
    font-size:22px;
    font-family: 'Black Han Sans', sans-serif; 
    color:#fff; 
    letter-spacing:2px;
}
#section9>div:nth-child(2) {
    position:relative; 
    left:0; 
    top:100px; 
    width:40%; 
    height:2px; 
    background:#fff;
}

.sec9_left {
    position:absolute; 
    left:100px; 
    top:230px;
}
.sec9_left li{
    width:100px;
    height:35px;
    border:1px solid #fff;
    color:#fff; 
    text-align:center; 
    line-height:35px;
    letter-spacing:5px;
    font-size:15px;
    font-weight:bold;
}
.sec9_left li:nth-child(1) {margin-bottom:70px;}
.sec9_left li:nth-child(2) {margin-bottom:50px;}
.sec9_left li:nth-child(3) {margin-bottom:150px;}

.sec9_right {
    position:absolute; 
    left:280px; 
    top:200px;
}
.sec9_right li {
    color:#fff; 
    line-height:40px; 
    letter-spacing:2px;
}
.sec9_right li:nth-child(1) {
    font-size:55px; 
    font-family: 'Roboto', sans-serif;
    margin-bottom:0px;
    padding-top:15px;
}
.sec9_right li:nth-child(2) {
    font-size:50px;
    font-family: 'Roboto', sans-serif; 
    font-style:italic;
    position:absolute; 
    left:130px; 
    top:15px; 
}
.sec9_right li:nth-child(1) span {
    font-size:12px;
    display:block;
    line-height:15px;
    margin-top:10px;
    font-weight:bold;
}
.sec9_right li:nth-child(2) span {
    font-size:12px; 
    display:block; 
    line-height:15px;
    margin-top:10px;
    font-weight:bold;
}
.sec9_right li:nth-child(3) {
    letter-spacing:4px; 
    font-size:14px;
    margin-top:40px;
    font-weight:bold;
}
.sec9_right li:nth-child(4) {
    margin-top:40px; 
    letter-spacing:2px; 
    font-size:14px;
    line-height:30px;
    font-weight:bold;
}
.sec9_right li:nth-child(5) {
    width:45px; 
    height:45px;
    background:#313131; 
    border-radius:50%;
    position:relative;
    top:70px;
}
.sec9_right li:nth-child(6) {
    width:45px;
    height:45px;
    background:#e1e1e1; 
    border-radius:50%;
    position:relative;
    top:25px; 
    left:80px;
}
#section9 img:nth-child(5) {
    position:absolute; 
    right:0px;
    bottom:50px;
    z-index:200;
    width:1020px;
}
.mac_box {
    position:absolute; 
    right:235px; 
    top:290px; 
    width:510px;
    height:400px; 
    overflow:hidden;
}
.mac_box>img {
    position:absolute; 
    right:0px;
    top:0px;
    width:510px;
}
#section9 a:nth-child(6) {
    width:290px;
    height:50px; 
    border:1px solid #fff; 
    color:#fff; 
    text-align:center;
    line-height:50px; 
    letter-spacing:5px;
    position:absolute;
    right:350px;
    top:170px; 
    display:block;
    z-index:300;
    font-size:16px;
    font-family: 'Black Han Sans', sans-serif; 
}



/*section7*/
#section7 {background:#231d5a;position:relative;}
#section7 p:nth-child(1) {
    position:absolute; 
    left:570px; 
    top:120px; 
    font-size:19px; 
    letter-spacing:2px; 
    color:#fff; 
    font-size:22px;
    font-family: 'Black Han Sans', sans-serif; 
}
#section7>div:nth-child(2) {
    position:absolute;
    left:0; 
    top:160px;
    width:40%; 
    height:2px;
    background:#fff;
}
#section7 p:nth-child(3) {
    width:280px;
    height:50px;
    border:1px solid #fff;
    color:#fff; text-align:center; 
    line-height:50px;
    letter-spacing:5px;
    position:absolute; 
    left:100px;
    top:600px; 
    display:block; 
    cursor:pointer;
    font-family: 'Black Han Sans', sans-serif;
    font-size:15px;
}
#section7 img:nth-child(4) {position:absolute; right:-80px; height:800px;}
#section7>img:nth-child(5) {
    position:absolute; 
    top:170px; 
    left:30px;
    transform:rotate(-90deg); 
}
.phone_left {position:absolute; left:100px; top:270px;}
.phone_left li{
    width:100px; 
    height:35px;
    border:1px solid #fff; 
    color:#fff;
    text-align:center;
    line-height:35px;
    letter-spacing:5px;
    font-size:15px;
}
.phone_left li:nth-child(1) {margin-bottom:70px;}
.phone_left li:nth-child(2) {margin-bottom:50px;}
.phone_right li:nth-child(1) {position:absolute; top:250px; left:280px;}
.phone_right li:nth-child(2) {position:absolute; top:250px; left:410px;}
.phone_right li:nth-child(1) img { width:70px;}
.phone_right li:nth-child(2) img {margin-left:-10px; width:70px;}
.phone_right li span {color:#fff; font-size:12px; font-weight:bold; letter-spacing: 2px; margin-top:8px;display:block;}
.phone_right li:nth-child(3) {
    position:absolute; 
    left:280px;
    top:390px;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    letter-spacing:5px;
}

.sec6_right li:nth-child(3) {
    letter-spacing:4px; 
    font-size:14px;
    margin-top:25px;
    font-weight:bold;
}
.phone_right li:nth-child(4) {
    width:45px; 
    height:45px;
    background:#d9dbdc;
    border-radius:50%;
    position:absolute; 
    left:360px;
    top:460px;
}
.phone_right li:nth-child(5) {
    width:45px;
    height:45px; 
    background:#5957b5;
    border-radius:50%; 
    position:absolute;
    left:280px;
    top:460px;
}
.phoneDetail {
    position:relative; 
    width:100%;
    height:100%; 
    background:rgba(0,0,0,0.7);
    z-index:1000;
    display:none;
}
.back {position:absolute;
    left:0; 
    top:0;
    background:#2e2674;
    border:3px solid #fff;
    width:600px; 
    height:700px; 
    left:630px;
    top:50px; 
    overflow:hidden;
}
.phoneSlide {width:3600px; height:800px; position:absolute;}
.phoneSlide>li>img {
    position:relative;
    left:60px;
    top:25px;
    float:left;
    width:500px;
}
.close img{
    position:absolute; 
    right:20px; 
    top:20px;
    width:30px;
    height:30px;
    cursor:pointer;
}
.button {position:absolute; top:350px; left:550px; cursor:pointer;}
.button2 {left:0px;}


/*section8*/
#section8 {background:#2e2674; position:relative;}
#section8>p:nth-child(1) {
    color:#fff;
    position:absolute; 
    left:410px; 
    top:100px; 
    font-size:22px; 
    letter-spacing:2px; 
    color:#fff; 
    font-family: 'Black Han Sans', sans-serif; 
}
#section8>div:nth-child(2) {
    position:absolute;
    left:0;
    top:140px;
    width:40%;
    height:2px; 
    background:#fff;
}
#section8>ul:nth-child(3) {position:absolute; top:180px; left:135px; }
.boxx {border:5px solid #231c59; width:1624px;}
.boxx>li {float:left; cursor:pointer;border:3px solid #231c59;}
.box {overflow:hidden; width:400px; height:280px; }
.box>img {width:400px;}
.box>a>img {width:400px;}

#section8>img:nth-child(3) {position:absolute; 
    top:250px;
    left:30px; 
    transform:rotate(-90deg); 
}
.up_back {
    position:relative;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    z-index:999;
    display:none;/**/
}
.detail2 {position:absolute; left:0; top:0; z-index:1001;}
.close2 {position:absolute; right:20px; top:20px;}
.close2>img {width:30px; height:30px; cursor:pointer;}
.up {position:relative; left:0; top:0;}
.up1 {
    left:800px;
    top:40px; 
    height:730px;
    display:none; 
}
.up1 img{height:730px; }
.up2 {
    left:630px; 
    top:40px;
    height:730px;
    display:none;
}
.up2 img{height:730px; }
.up3 {width:650px; display:none;left:540px; top:150px;}
/*.detail2>div{
    width:500px; 
    height:500px;
    position:absolute;
    left:720px;
    top:200px;
    border:3px solid #fff;
    overflow:hidden; 
    display:none;
}*/
.up3 img{height:500px; }
/*.button3>img{
    width:60px;
    height:60px;
    position:absolute; 
    top:430px;
    left:1270px;
    z-index:1100; 
    display:none;
    cursor:pointer;
}
.button4>img{
    width:60px;
    height:60px;
    position:absolute;
    top:430px; 
    left:620px;
    z-index:1100;
    display:none;
    cursor:pointer;
}*/
.up5{left:700px; top:50px;height:830px; display:none;}
.up5>img{width:500px;}
.up6{left:690px; top:80px;height:830px;display:none;}
.up6>img{width:500px;}
.up7{left:700px; top:170px;height:830px;display:none;}
.up7>img{width:500px;}
.up8{left:800px; top:40px;height:830px;display:none;}
.up8>img{height:730px;}


.box>img:hover {transform:scale(1.1); transition:all 0.5s;}
.box>img {transition:all 0.5s;}
.box>a>img:hover {transform:scale(1.1); transition:all 0.5s;}
.box>a>img {transition:all 0.5s;}
.box>span {
    width:200px; 
    height:50px; 
    color:#fff; 
    background:#231c59;
    position:absolute;
    top:237px;
    z-index:1300;
    text-align:center;
    line-height:50px; 
    font-size:16px;
    z-index:998;
    font-family: 'Black Han Sans', sans-serif; 
}
.box1>span {left:0px;}
.box2>span {left:405px; }
.box3>span {left:810px;}
.box4>span {left:1220px;}
.box5>span {left:0px;top:520px;}
.box6>span {left:405px;top:520px;}
.box7>span{left:810px;top:520px;}
.box8>span{left:1220px;top:520px;}
.box1>img {position:relative; left:-5px; width:410px; top:-5px;}
.box3>img {width:470px; position:relative; left:-30px;}


/*footer*/
#footer {background:#2e2674;position:absolute; height: 60px;width:1900px;}
#footer>p {
    color:#fff; 
    text-align:center;
    letter-spacing: 2px; 
    font-size:12px;
    padding-top:20px;
}














